{% extends "base.html" %}
{% load staticfiles %}
{% block menu %}

{{ block.super }}
{% block menuGest %}
	
	<script src="{% static 'js/menuGest.js' %}"></script>
    <script type="text/javascript">
            menuGest(1,"{% url 'seguimientoProy:Gestion' %}", "PreRegistro/PreRegistro.html","ConsultaEntregables/ConsultaEntregables.html","Reportes/Reportes.html","Prorrogas/Prorroga.html", "ReActivacion/ReActivacion.html", "CambioColaboradores/CambioColaboradores.html", "{% url 'seguimientoProy:RegistroU' %}", "Consulta de Proyectos/Consulta de Proyectos.html", "ConfiguracionCuenta/ConfiguracionCuenta.html","Calendario/Calendario.html", "Historial/HistorialP.html", "Historial/HistorialD.html", '{{user.username}}');
        </script>    
{% endblock %}
{% endblock menu%}

{% block contenido %}        
        <div class="col-md-8">
            <form method="POST">
            {% csrf_token %}
                <div class="center-block" ></div>
                    <h1 class="text_center" style="position:relative; left:25%; font-size:50px;">Bienvenido(a) {{user.username}}</h1>
                    <input class="btn btn-danger" name="logout" style="position:relative; left:50%; font-size:30px;" value="Salir" type="submit" style>
                </div>
            </form>        
        </div>
{% endblock contenido %}