    {% extends "base.html" %}
    {% load staticfiles %}
    {% block menu %}

    {{ block.super }}

    {% block menuDoc %}
    <script src="{% static 'js/menuDocente.js' %}"></script>
    <script type="text/javascript">
            menu(1,"{% url 'seguimientoProy:Docente' %}","PreRegistro","Proyectos/RegistroProyectos.html","Prorroga/Prorroga.html","Proyectos/Seguimiento/ConsultaEntregables.html","Proyectos/CambioColaboradores.html","Consultas/ConsultaProyectos.html","Consultas/ConsultaProyectosCancelados.html","ConfigCuenta.html", "Historial/historialDocente.html", '{{user.username}}');
        </script>
    <form method='POST'> 
        {% csrf_token %}
    <li style='float: right;' class='has-sub'
    <li><a href='/'><span class='glyphicon glyphicon-user' style='margin-right: 10px;'></span>{{user.username}}</a>
    <ul>
    <li><input href='/accounts/login/' style:'float: right;' name="logout" type="submit" value="..."><span class='glyphicon glyphicon-remove-circle' style='margin-right: 10px;'></span>Cerrar Sesión</input></li>
    <li><a href='" + ConfiCuenta + "'><span class='glyphicon glyphicon-wrench' style=' margin-right: 10px;'></span>Configuración</a></li>
    </li>
    </ul>
    </li>
    </ul>
    </div>
    </form>

    {% endblock menuDoc %}

    {% endblock menu%}
    {% block contenido %}        
        <div class="col-md-8">
            <form method="POST">
            {% csrf_token %}
                <div class="center-block" ></div>
                    <h1 class="text_center" style="position:relative; left:25%; font-size:50px;">Bienvenido(a) {{user.username}}</h1>
                </div>
            </form>        
        </div>
    {% endblock contenido %}