{% extends "baseGestion.html" %}
{% load bootstrap %}
{% load staticfiles %}

 {% block title %}
    <title>Gestionar Usuarios</title>
 {% endblock %}

 {{ block.super}}
 {% block contenido %}

 <div class="container" style="margin-top: 12px;">
            <div class="col-md-9">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 style="text-align: center;">Gestión de usuarios</h2>
                        </div>
                        <div class="panel-body">                            
                            <div class="col-md-11">
                                <input type="text" class="form-control" placeholder="Buscar docente">
                            </div>    
                            <div class="col-md-1">
                                <input type="button" class="btn btn-primary" value="Buscar">
                            </div>                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre del docente</th>
                                        <th>Estado</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td></td>
                                        <td></td>                                        
                                    </tr>
                                </tbody>
                            </table>
                            <input type="button" class="btn btn-primary" data-target="#ModalAlta" data-toggle="modal" value="Alta usuario">
                            <input class="btn btn-info" data-target="#myModalhis" data-toggle="modal" name="" type="button" value="Historial" style="float: right; margin-left: 5px;"/>
                            <input class="btn btn-warning" data-target="#ModalEditar" data-toggle="modal" name="" type="button" value="Editar" style="float: right; margin-left: 5px;"/>
                            <input class="btn btn-success" name="" onclick="acti();" type="button" value="Habilitar" style="float: right; margin-left: 5px;"/>
                            <input class="btn btn-danger" name="" onclick="inac();" type="button" value="Baja" style="float: right;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


<!--------------------------------------------Modal editar informacion------------------------------------------------------------------------------------------------------------>

            <div class="container col-sm-8">
                <div class="modal fade" id="ModalEditar" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" type="button">
                                    ×
                                </button>
                                <h4 class="modal-title" style="text-align: center;">
                                    Cambio de información
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form action="" method="get">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>
                                                    Nombre(s)
                                                </label>
                                                <input class="form-control" readonly="" type="text">                                                
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Apellido paterno
                                                </label>
                                                <input class="form-control" readonly="" type="text">                                                
                                            </div>
                                            <div class="col-sm-4">
                                                <label>
                                                    Apellido materno
                                                </label>
                                                <input class="form-control" readonly="" type="text">                                                
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Móvil
                                                </label>
                                                <input class="form-control" required="" type="text">                                                
                                            </div>
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Correo institucional
                                                </label>
                                                <input class="form-control" required="" type="text">                                                
                                            </div>
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    No. personal
                                                </label>
                                                <input class="form-control" readonly="" type="text">                                                
                                            </div>
                                        </div>
                                        <div class="row">                                            
                                            <div class="col-sm-4 form-group">
                                                <label for="sel1">
                                                    Grado máximo de estudios
                                                </label>
                                                <select class="form-control" id="sel1">
                                                    <option>
                                                        Licenciatura
                                                    </option>
                                                    <option>
                                                        Maestría
                                                    </option>
                                                    <option>
                                                        Doctorado
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-8 form-group">
                                                <label for="sel1">
                                                    Academia a la que pertenece
                                                </label>
                                                <select class="form-control">
                                                    <option>Ingenieria en sistemas computacionales</option>
                                                    <option>Ingenieria industrial</option>
                                                    <option>Ingenieria en industrias alimentarias</option>
                                                    <option>Ingenieria civil</option>
                                                    <option>Ingenieria electronica</option>
                                                    <option>Ingenieria electromecanica</option>
                                                    <option>Ingenieria bioquimica</option>
                                                    <option>Ingenieria en gestion empresarial</option>
                                                    <option>Ingeneiria mecatronica</option>
                                                    <option>Gastronomia</option>
                                                </select>
                                            </div>
                                        </div>                                        
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <label>Sexo</label>
                                                <select class="form-control">
                                                    <option>F</option>
                                                    <option>M</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Tipo de ususario</label>
                                                <select class="form-control">
                                                    <option>Docente Responsable</option>
                                                    <option>Oficina de Seguimiento de Proyectos de Investigación</option>
                                                    <option>Subdirección de Investigación y Posgrado</option>
                                                    <option>Consejo de Investigación</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal" type="button">
                                    Cerrar
                                </button>
                                <button class="btn btn-primary" onclick="cagu();" type="button">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!----------------------------------------------------------------------------------------------------------------------------------------------------------->
        
        <!---------------------------------------------------------Modal altaUsuario------------------------------------------------------------------------------>

            <div class="container col-sm-8 col-sm-8">
                <div class="modal fade" id="ModalAlta" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" type="button">
                                    ×
                                </button>
                                <h4 class="modal-title" style="text-align: center;">
                                    Alta de Usuario
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <h1 class="text-center" style="font-weight: Yu Gothic UI Light; margin-bottom: 4px;">
                                        Datos personales
                                    </h1>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>
                                                    Nombre completo
                                                </label>
                                                <input class="form-control" required="" type="text" name="first_name">
                                                
                                            </div>
                                            <!--<div class="col-sm-4">
                                                <label>
                                                    Apellido paterno
                                                </label>
                                                <input class="form-control" type="text">
                                                
                                            </div>-->
                                            <div class="col-sm-4">
                                                <label>
                                                    Nombre de Usuario
                                                </label>
                                                <input class="form-control" required="" type="text" name="username">                                         
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Móvil
                                                </label>
                                                <input class="form-control" type="number">
                                               
                                            </div>
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Correo institucional
                                                </label>
                                                <input class="form-control" required="" type="email" name="email">
                                              
                                            </div>
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    No. personal
                                                </label>
                                                <input class="form-control" required="" type="number">                                             
                                            </div>
                                        </div>
                                        <div class="row">                                            
                                            <div class="col-sm-4 form-group">
                                                <label for="sel1">
                                                    Grado máximo de estudios
                                                </label>
                                                <select class="form-control" id="sel1">
                                                    <option>
                                                        Licenciatura
                                                    </option>
                                                    <option>
                                                        Maestría
                                                    </option>
                                                    <option>
                                                        Doctorado
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-8 form-group">
                                                <label for="sel1">
                                                    Academia a la que pertenece
                                                </label>
                                                <select class="form-control">
                                                    <option>Ingenieria en sistemas computacionales</option>
                                                    <option>Ingenieria industrial</option>
                                                    <option>Ingenieria en industrias alimentarias</option>
                                                    <option>Ingenieria civil</option>
                                                    <option>Ingenieria electronica</option>
                                                    <option>Ingenieria electromecanica</option>
                                                    <option>Ingenieria bioquimica</option>
                                                    <option>Ingenieria en gestion empresarial</option>
                                                    <option>Ingeneiria mecatronica</option>
                                                    <option>Gastronomia</option>
                                                </select>
                                            </div>
                                        </div>                                        
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <label>Sexo</label>
                                                <select class="form-control">
                                                    <option>F</option>
                                                    <option>M</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Tipo de ususario</label>
                                                <select class="form-control" name= "last_name">
                                                    <option>Docente Responsable</option>
                                                    <option>Oficina de Seguimiento de Proyectos de Investigación</option>
                                                    <option>Subdirección de Investigación y Posgrado</option>
                                                    <option>Consejo de Investigación</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                    <!----------------------------------------------------------------------------------------------------------------->
                                    
                                    <h1 class="text-center" style="font-weight: Yu Gothic UI Light; margin-bottom: 4px;">
                                        Datos de usuario
                                    </h1>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>
                                                    Contraseña
                                                </label>
                                                <input name="password1" type="password" class="form-control" >
                                            </div> 
                                            <div class="col-sm-4">
                                                    <label>
                                                        Verificar contraseña
                                                    </label>
                                                    <input name="password2" type="password" class="form-control" >
                                            </div> 
                                        </div>                                                                                                                  
                                    </div>
                            </div>
                
                <!---------------------------------------------------------------------------------------------------------------------------------->
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal" type="button">
                                    Cerrar
                                </button>
                                <button class="btn btn-primary" onclick="cagu();" type="submit">
                                    Guardar
                                </button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>            

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------->

            <div class="container">
                <div class="modal fade" id="myModalhis" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">                                
                                <h4 style="text-align: center;">Historial</h4>
                            </div>
                            <div class="modal-body">
                                <h3 style="text-align: center;">Historial docente</h3>
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th colspan="2"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Proyectos activos</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>Proyectos cancelados</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>Retraso de entregables</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>Prórrogas solicitadas</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>Cambios de colaboradores</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>N° bloqueos</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>N° sanciones</td>
                                                    <td>0</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 	
 {% endblock contenido %}