{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
            Inicio
        </title>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="img/itsx.ico" rel="shortcut icon" type="image/x-icon"/>
        <link href="css/sweetalert2.css" rel="stylesheet" type="text/css"/>
        <script src="js/sweetalert2.min.js">
        </script>
        <meta charset="utf-8">  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header id="encabezado">
            <div class="container">
                <div class="col-lg-12" id="en">
                    <img alt="Responsive image" class="img-responsive" src="img/Sin título.png" style="width: 20%; height: auto; float: right; margin-right: -30px;">
                        <img alt="Responsive image" class="img-responsive" src="img/211.jpg" style="width: 23%; height: auto; float: left; margin-left: -29px;">
                        <img alt="Responsive image" class="img-responsive center-block" src="img/ws.jpg" style="width: 16%; height: auto; float: center; ">
                </div>
            </div>
        </header>        
        <script type="text/javascript">
            function iniciar()
  {
    var usr = document.getElementById("Usuario").value;
    var contr = document.getElementById("Contraseña").value;

    if(usr=="")
    {
      alert("Ingresa un Usuario");
    }
    if(usr!="" && contr=="")
    {
      alert("Ingresa una Contraseña");
    }

    if(usr!="")
    {
      if(usr!="Taboada")
      {
        document.getElementById("error").innerHTML="Usuario Incorrecto";
      }
      else
      {
        if(contr!="1234")
        {
          document.getElementById("error").innerHTML="Contraseña Incorrecta";
        }
        else{
          document.getElementById("error").innerHTML="";
          swal('Bienvenido Taboada')
        }
      }
    } 
  }
        </script>
        <div class="container" style="width: 50%; max-height: 100%;">
            <div class="col-lg-8 col-md-offset-2 " id="sesion" style="margin-top: 10px;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label style="font-size: 25px; text-align: center;">
                            Subdirección de Investigación y Posgrado
                        </label>
                    </div>
                    <div class="panel-body">
                        <!--<h1 style="margin-top: -65px; margin-bottom: -100px; font-size: 10px;"> Subdirección de Investigación y Posgrado</h1>-->
                        <label style="font-size: 25px; margin-left: 80px;">
                            Acceso al Sistema
                        </label>
                        <img class="profile-img-card" id="profile-img" src="img/user-128.png">
                            <style type="text/css">
                                .profile-img-card{
          left:0;
          right:0;
          margin-left:auto;
          margin-right:auto;
          margin: 0 auto 10px;
          display: block;
          margin-bottom: 25px;
          margin-top: 5px;
        }
                            </style>
                            <div class="col-lg-12 form-group">
                                <input class="form-control" id="Usuario" name="" placeholder="Usuario" type="text">                                
                            </div>
                            <div class="col-lg-12 form-group">
                                <input class="form-control" id="Contraseña" name="" placeholder="Contraseña" type="password">                                
                            </div>
                            <div class="col-lg-12 form-group">
                                <label id="error" style="color: red">
                                </label>
                            </div>
                            <div class="col-lg-12 form-group">
                                <button class="btn btn-primary btn-lg btn-block" id="btn-p" style="margin-top: -40px;" type="button" onclick="iniciar()">
                                    Iniciar Sesión
                                </button>
                            </div>
                        <script type="text/javascript">
                            function alerta_mensaje(){
                                alert("Porfavor, lea y acepte los terminos y condiciones para poder hacer uso del sistema")
                            }
                        </script>
                            <div class="col-lg-12">
                                <label>
                                    <input class="form-group" name="pass" type="checkbox" value="">
                                        Recordar contraseña                                    
                                </label>
                                <h5 style="float: right; margin-top: 5px;">¿Olvidaste tu contraseña? Clic<a data-toggle="modal" href="#myModal" style="cursor: pointer;"> aquí</a></h5>
                            </div>
                        <div class="col-lg-12">
                            <h5 style="text-align: justify;">Al hacer uso del "Sistema de Gestión y Administración de Proyectos", aceptas todos los términos y condiciones del área de Subdirección de Investigación y Posgrado del Instituto Tecnológico Superior de Xalapa. <a data-toggle="modal" href="#myModal2" style="cursor: pointer;"> Más información</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" type="button">×</button>
                            <h4 style="text-align: center;">Solicitar contraseña</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Usuario</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label>Lugar favorito</label>
                                    <input type="text" class="form-control">                                
                                </div>   
                            </div>                                                     
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nueva contraseña</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label>Repetir contraseña</label>
                                    <input type="password" class="form-control">
                                </div> 
                            </div>
                            <h5 style="margin-top: 25px;"><label>Nota:</label> La nueva contraseña será enviada a su correo electrónico</h5>
                        </div>
                        <div class="modal-footer">                            
                            <button class="btn btn-info">Validar información</button>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">Solicitar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" type="button">×</button>
                            <h4 style="text-align: center;">Términos y condiciones del área de subdirección de investigación y posgrado</h4>
                        </div>
                        <div class="modal-body">
                            
                        </div>
                        <div class="modal-footer">                            
                            <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary" type="button" onclick="SolicitudEnviada()">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function terminos(){
                swal({
                    title: 'Términos y Condiciones',
                    text: "Utilizaremos toda tu información académica necesaria",
                    type: 'info',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'Aceptar términos'
                });
                
            }
            
            function SolicitudEnviada(){
                swal({
                    title: 'Términos y Condiciones',
                    text: "Al aceptar los términos y condiciones utilizaremos toda tu información académica necesaria",
                    type: 'info',                    
                    confirmButtonColor: '#3085d6',                    
                    confirmButtonText: 'Aceptar términos',
                }).then(function () {
                    swal(
                        'Haz aceptado los términos y condiciones',
                        '',
                        'success'
                    )
                    $('#myModal2').modal('hide')
                })
            }
        </script>
        {% block footer %}
        <footer class="container-fluid text-center" id="pie">
            <div class="copyrights" style="margin-top:25px;">
                <p>
                    Sección 5A Reserva Territorial s/n, Col. Santa Bárbara, CP 91096, Xalapa, Veracruz, México            
                <br>
                <span>
                    Tel. (228) 165-0525 © 2010-2014
                    <br>
                        www.itsx.edu.mx                            
                </span>
                </p>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>
